/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-deepRed: #b0181e;
  --color-lightRed: #fff4f5;
  --color-brandMain: #e41d25;
  --color-brandColor: #e41d25;
  --color-brandColOne: #f9323a;
  --color-brandColTwo: #ff797f;
  --color-brandColThree: #ffcacc;
  --color-brandColFour: #ffeaeb;
  --color-black: #000000;
  --color-textBlack: #0d121f;
  --color-charcoolGray: #363739;
  --color-darkGray: #6b6b6b;
  --color-mediumGray: #9b9b9c;
  --color-textMediumGray: #6b6b6b;
  --color-lightGray: #cdcdcd;
  --color-softGray: #e6e6e6;
  --color-bgSoftGray: #f9f9fc;
  --color-white: #ffffff;
  --color-softWhite: #fcfcfd;
  --color-softBlue: #f9f9fc;
  --color-sidebarText: #007aff;

  --color-smokeWhite: #f5f5f5;
  --color-successGreen: #34c759;
  --color-lightNeutral: #e5e5e5;
  --color-highNeutral: #1a1a1a;
  --color-white200: #e5e5e5;
  --color-black5: #404040;
  --color-black3: #262626;

  --breakpoint-sc-430: 27rem; /* 432px */
  --breakpoint-sc-500: 32rem; /* 512px */
  --breakpoint-sc-laptop: 85.5rem; /* 1368px */
  --breakpoint-2xl: 100rem; /* 1600px */
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >=--theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >=640px) {
    max-width: 640px;
  }

  @media (width >=768px) {
    max-width: 768px;
  }

  @media (width >=1024px) {
    max-width: 1024px;
  }

  @media (width >=1280px) {
    max-width: 1280px;
  }

  @media (width >=1536px) {
    max-width: 1536px;
  }
}

.cus {
  border: 1px solid red;
}

/*========= headings ======== */
.heading5B {
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0;
}

.heading5Light {
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0;
}

.standardBaseR {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: middle;
}

.contact-shadow {
  box-shadow:
    0px 6px 12px 0px #0000001a,
    0px 23px 23px 0px #00000017,
    0px 51px 31px 0px #0000000d,
    0px 91px 36px 0px #00000003,
    0px 142px 40px 0px #00000000;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.montserrat {
  font-family: Montserrat, sans-serif !important;
}

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

/* =========== this part is for dark theme ===== */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Montserrat, sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */
/*  */
.bgr {
  background-color: rgb(252, 30, 30);
}

.bge {
  background-color: rgb(243, 70, 243);
}
